[Unit]
Description=Slack Backup Service for %i
After=network.target

[Service]
Type=simple
User=backup-slack
Group=backup-slack
WorkingDirectory=/opt/backup_slack/workspaces/%i
Environment=ENV_FILE=/opt/backup_slack/workspaces/%i/.env
ExecStart=/opt/backup_slack/bin/backup_slack
Restart=always
RestartSec=3600

[Install]
WantedBy=multi-user.target